@import "../utils/variable";

.scalable-form-builder {
  .mobile-preview-holder {
    &.preview {
      //background: url(http://gtms03.alicdn.com/tps/i3/TB1n05NGFXXXXbeXFXX7XyaQpXX-478-963.png);
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px auto 0 auto;
      max-width: 400px;
      padding: 91px 26px 0 28px;

      .scalable-form-mobile-wrapper {
        background: #eee;
      }
    }
  }

  .pc-preview-holder {
    &.preview {
      //background: url(http://gtms03.alicdn.com/tps/i3/TB1n05NGFXXXXbeXFXX7XyaQpXX-478-963.png);
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px auto 0 auto;
      max-width: 400px;

      .scalable-form-root-container {
        background: #fff;
      }
    }
  }
}
