.scalable-form-mobile-wrapper {
  .panel-danger {
    display: none;
  }

  .error-detail {
    padding-left: 0;
  }

  .text-danger {
    color: #f04134;
    list-style: none;
  }

  label.required {
    &::after {
      color: #f04134;
      content: "*";
      display: inline-block;
      font-size: 17px;
      line-height: .5;
      margin-right: 4px;
    }
  }

  .am-list-body {
    background-color: transparent !important;

    &::after {
      background: transparent !important;
    }

    &::before {
      background: transparent !important;
    }
  }

  .am-list-content {
    &.disabled {
      color: #bbb;
    }
  }
}
